@import 'reset';
@mixin media($screen){
    @media(max-width:$screen){ 
        @content;
    }
}

$mobile:"475px";
$font-family: 'Dancing Script', cursive;

h1 {
    margin-top: 50px;
    text-align: center;
    font-family: $font-family;
    font-size: 500%;
    color: rgb(144, 166, 199);
    text-shadow: 5px 5px 6px #ffffff;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    text-shadow: 5px 5px 6px rgba(255, 255, 255, 0); /* Fully transparent */
  }

  50% {
    text-shadow: 5px 5px 6px rgba(255, 255, 255, 0.7); /* Semi-transparent */
  }

  100% {
    text-shadow: 5px 5px 6px rgba(255, 255, 255, 0); /* Fully transparent */
  }
}


.form_container {
    font-family: $font-family;
    color: rgb(144, 166, 199);
    font-size: 200%;
}

button {
    --color: #96a0bd;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #96a0bd;
    transition: background 0s;
   }

body { 
    margin-left: 50px;
    background-image: url(assets/storm.png);
   background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 

}
h2 {
    font-family: $font-family;
    font-size: 400%;
    color: aliceblue;
    text-align: center;
    margin-bottom: 50px;
}

.info_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 50px;
}

.box { 
    font-family: $font-family;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(3, 23, 41);
    background-color: rgb(144, 166, 199);
    opacity: 0.75;
    
}
